.navpan{
    display: flex;
    justify-content: space-around;
}
    .navpan ul{
        display: flex;
        justify-content: space-around;
    }
        .navpan ul li{
            list-style-type: none;
            padding: 5% 20% 3% 7%;
            margin-right: 20%;
            margin-top: 3%;
            width: 75px;
        }
            .navpan ul li a{
                text-decoration: none;
                color: black;
                padding: 15px;
            }